################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sqlite
.vs
RealEstateCore/bin/Debug/netstandard2.0
RealEstateCore/obj
RealEstateCore/bin/Debug
RealEstateCore/bin/Release
RealEstateCore/appsettings.Development.json
RealEstateCore/appsettings.json
RealEstateCore/appsettings.Production.json
RealEstateCore/Properties/PublishProfiles
RealEstateCore/RealEstateCore.csproj.user

RealEstateCore.Core/bin/Debug/netstandard2.0
RealEstateCore.Core/obj
RealEstateCore.Core/bin/Debug
RealEstateCore.Core/bin/Release

RealEstateCore.Infrastructure/bin/Debug/netstandard2.0
RealEstateCore.Infrastructure/obj
RealEstateCore.Infrastructure/bin/Debug
RealEstateCore.Infrastructure/bin/Release

RealEstateCore.IntegrationTest/bin/Debug/netstandard2.0
RealEstateCore.IntegrationTest/obj
RealEstateCore.IntegrationTest/bin/Debug
RealEstateCore.IntegrationTest/appsettings.test.json
RealEstateCore.IntegrationTest/bin/Release
RealEstateCore.Infrastructure/DataContext/DatabaseContextFactory.cs